.navigation-bar {
    overflow: visible !important;
}

.navigation-bar a {
    margin: 0 20px;
}

.navigation-bar .navlink {
    display: inline-block;
    float: none;
    font-size: 25px;
    text-decoration: none;
    color: #ece2c1;
    padding: 30px 30px;
    /* margin: 0 80px; */
}

.nav_sublink:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 90%;
    background: #008080;
    /* border-top: 1px solid white; */
    padding: 5%;
    left: 22%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_sublink {
    font-size: 20px;
    text-decoration: none;
    color: #ece2c1;
    margin: 0 !important;
    padding: 5% 25% !important;
    display: block;
    border-bottom: 1px solid white;
}

a+a.nav_sublink {
    border-bottom: none !important;
}